body {
  background-color: #f2cccc;
  color: #330000; /* Texto oscuro sobre fondo claro */
  font-family: 'Playfair Display', serif;
}

h1, h2 {
  color: #330000; /* Encabezados en color principal */
}

.button {
  background-color: #800000;
  color: #ffffff;
  border: none;
}

.bienvenida {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2cccc;
  color: #330000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  flex-direction: column;
}

.bienvenida-contenido {
  padding: 2em;
  margin: 3em;
  background: #fff0f0;
  border-radius: 0px;
  box-shadow: 0 0 40px rgba(77, 1, 17, 0.349);
  animation: fadeSlideIn 1.2s ease-out;
}

.bienvenida h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.bienvenida p {
  font-size: 1rem;
  margin-bottom: 1em;
  margin-top: 0;
  color: #800000;
  font-family: 'Playfair Display', serif;
}

#boton-ingresar {
  display: inline;
  background-color: #330000;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Playfair Display', serif;
  box-shadow: 0 0 9px rgba(77, 1, 17, 0.349);
}

.bienvenida.ocultar {
  animation: fadeSlideOut 0.8s ease forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideOut {
  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}

/* */

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 25px;
  border-radius: 12px;
  z-index: 10;
  text-align: center;
}

.countdown-titulo {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  margin-bottom: 10px;
}

.countdown-valores {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.time-box {
  text-align: center;
  min-width: 70px;
}

.time-box .number {
  font-size: 2rem;
  font-weight: bold;
}

.time-box .label {
  font-size: 0.9rem;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-out;
  will-change: transform;
  display: block;
}

.contenedor-imagen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.texto-imagen,
.texto-imagen2,
.texto-imagen3 {
  position: absolute;
  font-size: 2rem;
  text-shadow: 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
}

.texto-imagen2 {
    font-size: 3em;
    font-weight: bold;
}

.texto-imagen {
  top: 44%;
}

.texto-imagen2 {
  top: 50%;
}

.texto-imagen3 {
  top: 60%;
}

#section1 {
    background-color: #330000;
    color: #f8e6e6;
    font-family: 'Great Vibes', cursive;
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    padding: 2em;
}

.imagen2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-out;
  will-change: transform;
  display: block;
}

#section2 {
  background-color: #f8e6e6;
  padding: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.ubicacion-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icono-ubicacion {
  width: 90px;
  height: auto;
}

.ubicacion-texto {
  text-align: center;
}

.titulo-ubicacion {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #330000;
  margin-bottom: 0;
  margin-top: 0;
}

.lugar {
  font-size: 1.2rem;
  color: #800000;
  margin-bottom: 0;
  margin-top: 0;
}

.direccion {
  margin-top: 0;
  margin-bottom: 0;
}

.horario {
  margin-top: 0;
}

.boton-ubicacion {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #330000;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 0.8rem;
  box-shadow: 0 0 9px rgba(77, 1, 17, 0.349);
}

.imagen2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-out;
  will-change: transform;
  display: block;
}

.contenedor-imagen2 {
  position: relative;
  overflow: hidden;
}

#section4 {
  background-color: #f8e6e6;
  padding: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 1em;
}

.codigo-vestimenta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icono-vestimenta {
  width: 90px;
  height: auto;
}

.vestimenta-texto {
  text-align: center;
}

.titulo-vestimenta {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #330000;
  margin-bottom: 0;
  margin-top: 0;
}

.vestimenta {
  font-size: 1.2rem;
  color: #800000;
  margin-bottom: 0.8em;
  margin-top: 0;
}

#section3 {
  background-color: #330000;
  padding: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 1em;
}

.icono-asistencia {
    width: 90px;
    height: auto;
}

.asistencia-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asistencia-texto {
  text-align: center;
}

.titulo-asistencia {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #f8e6e6;
  margin-bottom: 0;
  margin-top: 0;
}

.asistencia-emojis {
    font-size: 1.6em;
    color: #f2cccc;
    margin-bottom: 0.8em;
    margin-top: 0;
}

.boton-asistencia {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #f2cccc;
  color: #800000;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 0.8rem;
  box-shadow: 0 0 9px rgba(255, 202, 214, 0.349);
}

#section5 {
  background-color: #330000;
  padding: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 1em;
}

.icono-regalo {
    width: 90px;
    height: auto;
}

.regalo-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regalo-texto {
  text-align: center;
  color: #f2cccc;
  margin-top: 0;
}

.titulo-regalo {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #f8e6e6;
  margin-bottom: 0;
  margin-top: 0;
  
}

.acordeon {
  margin-top: 20px;
  font-family: sans-serif;
}

.boton-toggle {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #f2cccc;
  color: #800000;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
  border: none;
  box-shadow: 0 0 9px rgba(255, 202, 214, 0.349);
}

.contenido-cbu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #f2cccc;
  margin-top: 10px;
  padding: 0 15px;
  box-shadow: 0 0 9px rgba(255, 202, 214, 0.349);
}

.contenido-cbu p {
  margin: 10px 0;
}

.copiable {
  cursor: pointer;
  color: #800000;
  transition: color 0.3s ease;
}


.mensaje-copiado {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2cccc;
  color: #800000;
  padding: 10px 20px;
  font-size: 1rem;
  z-index: 9999;
  display: none;
  box-shadow: 0 0 9px rgba(255, 202, 214, 0.349);
}

@keyframes fadeInOut {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}

#section6 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fin-contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 25px;
  border-radius: 12px;
  z-index: 10;
  text-align: center;
}

.titulo-fin {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #f8e6e6;
  margin-bottom: 0;
  margin-top: 0;
}

#playPauseButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#playPauseIcon {
  width: 50px;
  height: 50px;
}